h1{color:blue;text-align:center;}
b,h3,h4,h5 { font-weight:bold; color:maroon; }
body{background-color:white;margin:8%;}
h1,h2,h3,h4,h5,p,address,ol,ul,tr,td,th,blockquote {font-family:geneva,arial,helvetica,sans-serif;}
address{font-style:normal;}
h2,hr {font-weight:bold;color:#006699;}
a:link {color:blue;font-weight:bold;}
a:visited {color:gray;font-weight:bold;}
a:active {color:red;font-weight:bold;}
a:hover {color:red;font-weight:bold;}
th {color:white;background:#006699;font-weight:bold;text-align:left;}
td.name   {border-bottom-style:solid;border-bottom-width:1pt;border-color:#006699;background:#eeeeff;}
td.status {border-bottom-style:solid;border-bottom-width:1pt;border-color:#006699;}
/* additional definitions for web only */
/*h2{border:1pt solid;width:100%;background-color:white;text-align:center;color:black;padding:6pt}*/
/*p,address,ol,ul,tr,td,th,blockquote {font-size:10pt;}*/
